body{
    background: rgb(238, 221, 198);
}

.tekst{
    margin: auto;
    padding: 0%;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes rainbow {
    0% { color: red; }
    14% { color: orange; }
    28% { color: yellow; }
    42% { color: green; }
    57% { color: blue; }
    71% { color: indigo; }
    85% { color: violet; }
    100% { color: red; }
}
    #countDisplay {
        animation: rainbow 10s linear infinite;
}

.top-header{
    max-width: 1920px;
    height: 210px;
    display: flex;
    flex-direction: column;
}

.top-header ul{
    margin: auto;
    padding: 0%;
    width: 600px;
    height: 60px;
    display: flex;
    flex-direction: row;
    gap: 300px;
}

.top-header ul button{
    width: -moz-available;
    font-size: 20px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0%;
    background-color:teal;
    border-color: blueviolet;
    border-spacing: 300px;
}

.main-content-container{
    background-color: rgb(105, 105, 105);
    height: 400px;
    max-width: 1800px;
    margin: auto;
    padding: 0%;
}